@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom,rgb(56, 62, 134),rgb(132, 237, 235));
}
/*landing*/
.landing{
    width: 100%;
    padding: 80px 12%;
}
.rowH{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.colH{
    flex-basis: 50%;
}
.colH h1{
    padding-top: 150px;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    font-size: 60px;
}
.colH h3{
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    font-size: 40px;
}
.colH p{
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    padding-bottom: 40px;
    font-size: 20px;
}
/*about*/
.about{
    width: 100%;
    padding: 80px 12%;
    color: #fff;
    position: relative;
}
.row-about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.col-about{
    flex-basis: 50%;
}
.col-about img{
    width: 220px;
    height: 220px;
}
.about h2{
    text-shadow: 2px 2px 4px #000;
}
/*projects*/
.project{
    width: 100%;
    padding: 80px 12%;
    color: #fff;
    position: relative;
}
 .colP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.imgP{
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
    object-fit: cover;
}
.project h2{
    padding-bottom: 40px;
    text-shadow: 2px 2px 4px #000;
}
/*resume*/
.resume{
    width: 100%;
    padding: 80px 12%;
    color: #fff;
    position: relative;
}
.resume h2{
    font-size: 40px;
    font-weight: 500;
    text-shadow: 2px 2px 4px #000;
}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #bbdefb;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
    color: #000;
    border: #000 solid 2px;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    background: #bbdefb;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
    color: #000;
    border: #000 solid 2px;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.row-resume{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 40px;
    column-gap: 50px;
}
.col-resume{
    flex-basis: auto;
}
.col-resume img{
    width: 150px;
    height: 150px;
}
/*testimonials*/
.testimonials{
    width: 100%;
    padding: 80px 12%;
    color: #fff;
}
.row-testimonials{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 50px;
}
.col-testimonials{
    flex-basis: 25%;
}
.col-testimonials img{
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
}
.testimonials h2{
    padding-bottom: 40px;
    text-shadow: 2px 2px 4px #000;
    font-size: 40px;
}
.testimonials h3{
    text-shadow: 2px 2px 4px #000;
}
/*contact*/
.contact{
    width: 100%;
    padding: 80px 12%;
    color: #fff;
    position: relative;
}
.contact h2{
    padding-bottom: 40px;
    text-shadow: 2px 2px 4px #000;
    font-size: 40px;
    color: #fff;
}
.contact-form{
    padding: 10px;
}
/*ALL MY RESPOSIVENESS WAS DONE WITH BOOTSTRAP*/